html {
	background: url(../image/background3.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header {
	padding-bottom: 20px;
}

body {
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	color: #fff;
    font: normal 14px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,.42);
}

.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .footer {
        text-align: left;
    }
    .footer p {
        margin-bottom: 0;
    }
}

a:link {
	text-decoration:none;
	color: #cccccc;
}
a:visited {
	text-decoration:none;
	color: #cccccc;
}
a:hover {
	text-decoration:none;
	color: #cccccc;
}
a:active {
	text-decoration:none;
	color: #cccccc;
}