<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

	{% block css_includes %}
        {% load staticfiles %}
        <!-- Bootstrap -->
        <link href="{% static 'game_data/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'game_data/css/sticky-footer.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'game_data/css/scrollbar.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body style>
  <div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Last Hit</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'game_data:index' %}">Home</a></li>
            <li><a href="{% url 'game_data:submit_game' %}">Submit Game</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'game_data:logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'game_data:login' %}">Login</a></li>
            {%  endif %}
            <li><a href="{% url 'game_data:sign_up' %}">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>

	<div class="container" id="content">
		<h1>{% block title %}Lorem Ipsum{% endblock %}</h1>
        {% block content %}
		{% endblock %}
	</div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="text-muted credit">John Maxwell &copy;2013</p>
    </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>