<!DOCTYPE html>
<html lang="en">
<head>
	<h1>{% block title %}Lorem Ipsum{% endblock %}</h1>

	<a href="{% url 'game_data:index' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="{% url 'game_data:submit_game' %}">Submit Game</a>
	
	{% load staticfiles %}
	<link href="{% static 'game_data/css/styles.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>

<footer>
	<a href="{% url 'game_data:index' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="{% url 'game_data:submit_game' %}">Submit Game</a>
	<br/><br/>
	<p>John Maxwell &copy;2013</p>
</footer>

</html>