{% extends "game_data/base.html" %}

{% block title %}{{ hero.hero_name }}{% endblock %}


{% block content %}

<h3>Most Recent Games</h3>

{% if hero_game_list %}
	<table class="table">
	<thead>
		<th>Rank</th>
        <th>Player</th>
		<th>Last Hits</th>
		<th>GPM</th>
		<th>Published</th>
	</thead>
    {% for game in hero_game_list %}
		<tbody>
			{% if game.rank_number == None %}
				<td></td>
			{% else %}
				<td>{{ game.rank_number }}</td>
			{% endif %}
			<td><a href="{% url 'game_data:player_detail' game.player.pk %}">{{ game.player.player_acct.gamer_tag }}</a></td>
			<td>{{ game.last_hits }}</td>
			<td>{{ game.gpm }}</td>
			<td>{{ game.pub_date|timesince }}</td>
		</tbody>
    {% endfor %}
	</table>
    
{% else %}
    <p>No games available.</p>
{% endif %}

{% endblock content%}