{% extends "game_data/base.html" %}

{% block title %}{{ hero.hero_name }}{% endblock %}


{% block content %}

<h2>Most Recent Games</h2>

{% if hero_game_list %}
	<table>
	<tr>
		<td><strong>Rank</strong></td>
		<td><strong>Player</strong></td>
		<td><strong>Last Hits</strong></td>
		<td><strong>GPM</strong></td>
		<td><strong>Published</strong></td>
	</tr>
    {% for game in hero_game_list %}
		<tr>
			{% if game.rank_number == None %}
				<td></td>
			{% else %}
				<td>{{ game.rank_number }}</td>
			{% endif %}
			<td><a href="{% url 'game_data:player_detail' game.player.pk %}">{{ game.player.player_acct.gamer_tag }}</a></td>
			<td>{{ game.last_hits }}</td>
			<td>{{ game.gpm }}</td>
			<td>{{ game.pub_date }}</td>
		</tr>
    {% endfor %}
	</table>
    
{% else %}
    <p>No games available.</p>
{% endif %}

{% endblock content%}