{% extends "game_data/base.html" %}
{% load staticfiles %}
{% block title %}Team Loller Learns To Last Hit!{% endblock %}


{% block content %}

{% if latest_game_list %}
    <table class="table">
	<thead>
		<th>Rank</th>
		<th>Hero</th>
        <th>Player</th>
		<th>Last Hits</th>
		<th>GPM</th>
		<th>Published</th>
	</thead>
    {% for game in latest_game_list %}
		<tbody>
			{% if game.rank_number == None %}
				<td></td>
			{% else %}
				<td>{{ game.rank_number }}</td>
			{% endif %}
			<td><a href="{% url 'game_data:hero_detail' game.hero.hero_name_underscored %}">
				<img id="base_{{game.hero.hero_name_underscored}}" 
					src="{% static 'game_data/image/'|add:game.hero.hero_name_underscored|add:'_sb.png' %}">
				</a>
			</td>
			<td><a href="{% url 'game_data:player_detail' game.player.pk %}">{{ game.player.player_acct.gamer_tag }}</a></td>
			<td>{{ game.last_hits }}</td>
			<td>{{ game.gpm }}</td>
			<td>{{ game.pub_date|timesince }}</td>
		</tbody>
    {% endfor %}
	</table>
	
{% else %}
    <p>No recent games.</p>
{% endif %}



<h3>Heroes</h3>
{% if hero_list %}
    <div class="scrollbox">
    {% for hero in hero_list %}
		<a href="{% url 'game_data:hero_detail' hero.hero_name_underscored %}">
		<img id="base_{{hero.hero_name_underscored}}" 
					src="{% static 'game_data/image/'|add:hero.hero_name_underscored|add:'_sb.png' %}">
		</a>
    {% endfor %}
    </div>
{% else %}
    <p>No heroes are available.</p>
{% endif %}


<h3>Players</h3>
{% if player_list %}
    {% for player in player_list %}
		<a href="{% url 'game_data:player_detail' player.pk %}">{{ player.player_acct.gamer_tag }}</a><br/>
    {% endfor %}
{% else %}
    <p>No players are available.</p>
{% endif %}

{% endblock content%}