{% extends "game_data/base.html" %}
{% load staticfiles %}
{% block title %}{{ player }}&nbsp 
	{% if player.overall_rank != None %}
		{{player.overall_rank}}
	{% endif %}
{% endblock %}


{% block content %}

{% if player_game_list %}
	<table class="table">
	<thead>
		<th>Rank</th>
		<th>Hero</th>
		<th>Last Hits</th>
		<th>GPM</th>
		<th>Published</th>
	</thead>
    {% for game in player_game_list %}
		<tbody>
			{% if game.rank_number == None %}
				<td></td>
			{% else %}
				<td>{{ game.rank_number }}</td>
			{% endif %}
			<td><a href="{% url 'game_data:hero_detail' game.hero.hero_name_underscored %}">
				<img id="base_{{game.hero.hero_name_underscored}}"
					src="{% static 'game_data/image/'|add:game.hero.hero_name_underscored|add:'_sb.png' %}">
				</a>
			</td>
			<td>{{ game.last_hits }}</td>
			<td>{{ game.gpm }}</td>
			<td>{{ game.pub_date|timesince }}</td>
		</tbody>
    {% endfor %}
	</table>
    
{% else %}
    <p>No games available.</p>
{% endif %}

{% endblock content%}