{% extends "game_data/base.html" %}

{% block title %}{{ player }}&nbsp{{player.overall_rank}}{% endblock %}


{% block content %}

{% if player_game_list %}
	<table>
	<tr>
		<td><strong>Player</strong></td>
		<td><strong>Hero</strong></td>
		<td><strong>Last Hits</strong></td>
		<td><strong>GPM</strong></td>
		<td><strong>Published</strong></td>
	</tr>
    {% for game in player_game_list %}
		<tr>
			<td>{{ game.player.player_name }}</td>
			<td><a href="{% url 'game_data:hero_detail' game.hero.hero_name %}">{{ game.hero.hero_name }}</a></td>
			<td>{{ game.last_hits }}</td>
			<td>{{ game.gpm }}</td>
			<td>{{ game.pub_date }}</td>
		</tr>
    {% endfor %}
	</table>
    
{% else %}
    <p>No games available.</p>
{% endif %}

{% endblock content%}